body {
    background-color: rgb(24, 26, 27);
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: aqua;
}

a {
    color: lawngreen;
}

code {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    color: red;
}

.image {
    float: right;
}

.underline {
    text-decoration: underline;
}

.important {
    color: red;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#00aaff;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
}

.my-float{
    margin-top:22px;
    font-size: 18px;
}
