body {
    background-color: rgb(24, 26, 27);
    color: white;
    font-size: 16px;
}


th {
    color: lawngreen;
}

a {
    color: lawngreen;
}

table {
    display: inline-block;
    margin: 10px;
    border-spacing: 5px 10px;
}

td {
    border: 1px solid rgb(0, 132, 255);
    padding: 15px;
}

#styleZnaczników {
    list-style-type: none;
}

#disc {
    list-style-type: disc;
}

#circle {
    list-style-type: circle;
}

#square {
    list-style-type: square;
}

#decimal {
    list-style-type: decimal;
}

#decimal-leading-zero {
    list-style-type: decimal-leading-zero;
}

#lower-alpha {
    list-style-type: lower-alpha;
}

#upper-alpha {
    list-style-type: upper-alpha;
}

#lower-roman {
    list-style-type: lower-roman;
}

#upper-roman {
    list-style-type: upper-roman;
}

#imageList {
    list-style-image: url(../images/znacznik.png);
}

#shortcut {
    list-style: inside square;
    width: 100px;
}

table.one {
    empty-cells: show;
}

table.two {
    empty-cells: hide;
    
}

table.three {
    border-collapse: collapse;
}

.shortcut {
    margin: 10px 0px 0px 0px;
}

.odstep {
    margin: 10px 0px 0px 0px;
}

.important {
    color: red;
}

/* Floating blue button
    |
    |
    v
*/

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#00aaff;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
}

.my-float{
    margin-top:22px;
    font-size: 18px;
}