body {
    background-color: rgb(24, 26, 27);
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: aqua;
}

td:first-of-type {
    color: rgb(155, 255, 0);
}

th {
    color: rgb(255, 0, 200);
}

#important {
    color: red;
}

@font-face {
    font-family: "Hey Kiddo demo";
    src: url("../fonts/customFont.ttf");
}

#exampleFont {
    font-family: "Hey Kiddo demo";
}

#shadow {
    text-shadow: 1px 1px #f700ff;
}

#akapit {
    text-indent: 30px;
}

input.submit:hover{
    background-color:red;
}

input.submit:active{
    background-color:greenyellow;
}

input.inputText:focus{
    background-color: hotpink;
    
   
}

dl {
    list-style-type: disc;
}

dt {
    margin-top: 5px;
}

dd {
    margin-top: 5px;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#00aaff;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
}

.my-float{
    margin-top:22px;
    font-size: 18px;
}
