body {
    background-color: rgb(24, 26, 27);
    color: white;
    font-size: 16px;
}

#important {
    color: red;
}

@font-face {
    font-family: "Hey Kiddo demo";
    src: url("../fonts/customFont.ttf");
}

#exampleFont {
    font-family: "Hey Kiddo demo";
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#00aaff;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
}

.my-float{
    margin-top:22px;
    font-size: 18px;
}

#shadow {
    text-shadow: 1px 1px #f700ff;
}