body {
    background-color: rgb(24, 26, 27);
    color: white;
    font-size: 16px;
}

h1 {
    color: aqua;
}

p {
    margin: 15px;
}

dt {
    margin: 15px;
}

hr {
    margin: 00px 0px;
    overflow: auto;
    width: 100%;
    color: green;
}

div {
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #00aaff;
    font-size: 40px;
}

div#static {
    position: static;
}

div#relative {
    position: relative;
    /* --- Co trzeba dodać po relative? --- */
    top: 10px;
    left: 100px;
}

div#absolute {
    position: absolute;
    /* --- Co trzeba dodać po absolute? --- */
    top: 460px;
    right: 200px;
}

div#fixed {
    position: fixed;
    /* --- Co trzeba dodać po fixed? --- */
    top: 0px;
    right: 50px;
}

div#float {
    float: left;
}

div#clear {
    float: left;
    border: 1px solid white;
}

div#clearLeft {
    float: left;
    border: 1px solid white;
    clear: left;
}

#special {
    clear: left;
    margin-top: 140px;
}

.important {
    color: red;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#00aaff;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
}

.my-float{
    margin-top:22px;
    font-size: 18px;
}
